*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(cake.jpg);
    height: 100vh;
    background-position:center;
    background-size: cer;
}  
section{
    padding: 13px;
    background-color:rgba(29, 29, 167, 0.589);
    margin: 20px;
}
